<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geominfo.mlsql.mapper.BackendProxyMapper">
    <select id="getBackendProxyByName" parameterType="java.lang.String"
            resultType="com.geominfo.mlsql.domain.vo.MlsqlBackendProxy">
        SELECT id,groupId,backendName
        FROM mlsql_backend_proxy
        WHERE name=#{backendName}
    </select>


    <select id="findProjectFiles" parameterType="java.lang.Integer"
            resultType="com.geominfo.mlsql.domain.vo.MlsqlScriptFile">
       SELECT
            SF.id,
            SF.name ,
            SF.has_caret AS hasCaret,
            SF.icon,
            SF.label,
            SF.parent_id AS parentId,
            SF.is_dir AS isDir,
            SF.content,
            SF.is_expanded AS isExpanded
        FROM
            script_file SF
        JOIN
            script_user_rw SUR
        ON
            SF.id = SUR.script_file_id
        WHERE
            SUR.mlsql_user_id = #{userId,jdbcType=INTEGER};

    </select>


    <insert id="intsertBackendProxy" parameterType="com.geominfo.mlsql.domain.vo.MlsqlBackendProxy">
        INSERT INTO mlsql_backend_proxy(mlsql_group_id,backend_name)
        VALUES(#{groupId,jdbcType=INTEGER} ,#{backendName ,jdbcType=VARCHAR})
    </insert>


    <delete id="deleteBackendProxy" parameterType="com.geominfo.mlsql.domain.vo.MlsqlBackendProxy">
        DELETE FROM mlsql_backend_proxy
        WHERE backend_name=#{backendName} AND mlsql_group_id=#{groupId}
    </delete>


</mapper>