<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geominfo.mlsql.mapper.JobMapper">
    <select id="getMlsqlJobList" resultType="com.geominfo.mlsql.domain.vo.MlsqlJobRender">
        SELECT
            id,`name`,
            LEFT(content,100) content,
            CASE status
                WHEN 1 THEN 'running'
                WHEN 2 THEN 'success'
                WHEN 3 THEN 'fail'
                WHEN 4 THEN 'killed'
                ELSE ' ' END AS  status,
            LEFT(reason,100) reason,
            DATE_FORMAT(created_at,'%Y-%m-%d %H:%i:%s') AS createdAt,
            DATE_FORMAT(finish_at,'%Y-%m-%d %H:%i:%s') AS finishAt,
            LEFT(response,100) AS response
        FROM mlsql_job
        WHERE mlsql_user_id = #{userId}
        ORDER BY IF(ISNULL(created_at),1,0),created_at DESC
        LIMIT 0,100
    </select>

    <select id="getMlsqlJob" resultType="com.geominfo.mlsql.domain.vo.MlsqlJob">
        SELECT
        id,`name`,content,status,reason,created_at AS createdAt,
        finish_at AS finishAt,response
        FROM mlsql_job
        <where>
            <if test="userId != null and userId != ''">
                AND mlsql_user_id = #{userId}
            </if>
            <if test="jobName != null and jobName != ''">
                AND `name` = #{jobName}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        LIMIT 0,1
    </select>

    <update id="updateMlsqlJob">
        UPDATE mlsql_job
        <!-- set能够智能去掉最后一个, -->
        <set>
            <if test="status != null and status != ''">
                `status` = #{status},
            </if>
            <if test="response != null and response !=''">
                response = #{response},
            </if>
            <if test="reason != null and reason != ''">
                reason = #{reason},
            </if>
            <if test="finishAt != null and finishAt != ''">
                finish_at = #{finishAt},
            </if>
        </set>

        <!-- 如果有查询条件，where能够只能去除第一个and或or -->
        <where>
            <if test="jobName != null and jobName != ''">
                AND `name` = #{jobName}
            </if>

            <if test="userId != null and userId != ''">
                AND  mlsql_user_id = #{userId}
            </if>
        </where>
    </update>



    <update id="updateMlsqlJobByJonName">
        UPDATE mlsql_job
        <!-- set能够智能去掉最后一个, -->
        <set>
            <if test="status != null and status != ''">
                `status` = #{status},
            </if>
            <if test="response != null and response !=''">
                response = #{response},
            </if>
            <if test="finishAt != null and finishAt != ''">
                finish_at = #{finishAt},
            </if>
        </set>

        <!-- 如果有查询条件，where能够只能去除第一个and或or -->
        <where>
            <if test="jobName != null and jobName != ''">
                AND `name` = #{jobName}
            </if>
        </where>
    </update>

    <insert id="insertJob" parameterType="com.geominfo.mlsql.domain.vo.MlsqlJob"
            keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO
        mlsql_job(name,content,status,mlsql_user_id,created_at,finish_at,reason,response)
        VALUES
        (
        #{name},#{content},#{status},#{mlsqlUserId},#{createdAt},#{finishAt},#{reason},#{response}
        )
    </insert>



</mapper>