<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geominfo.mlsql.mapper.MlsqlApplyMapper">

    <insert id="insertApply" parameterType="com.geominfo.mlsql.domain.vo.MlsqlApply"
            keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO
        mlsql_apply(name,content,status,mlsql_user_id,created_at,finish_at,reason,response,apply_sql)
        VALUES
        (
        #{name},#{content},#{status},#{mlsqlUserId},#{createdAt},#{finishAt},#{reason},#{response},#{applySql}
        )
    </insert>


</mapper>
