<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geominfo.mlsql.mapper.MlsqlDsMapper">

    <insert id="saveDs" parameterType="com.geominfo.mlsql.domain.vo.MlsqlDs" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO
        mlsql_ds(name,format,params,mlsql_user_id)
        VALUES
        (
        #{name},#{format},#{params},#{mlsqlUserId}
        )
    </insert>

    <delete id="deleteDs" parameterType="map" >
        DELETE FROM
        mlsql_ds
        WHERE
        id=#{pId}
        AND
        mlsql_user_id=#{userId}
    </delete>

    <select id="listDs" parameterType="java.lang.Integer" resultType="com.geominfo.mlsql.domain.vo.MlsqlDs">
        SELECT
        id,
        name,
        format,
        params,
        mlsql_user_id AS mlsqlUserId
        FROM
        mlsql_ds
        WHERE
        mlsql_user_id=#{userId}
    </select>

    <select id="getDs" parameterType="map" resultType="com.geominfo.mlsql.domain.vo.MlsqlDs">
        SELECT
        id,
        `name`,
        format,
        params,
        mlsql_user_id AS mlsqlUserId
        FROM
        mlsql_ds
        WHERE
        mlsql_user_id=#{userId}
        AND
        name=#{pName}
        AND
        format=#{pFormat}
    </select>

    <select id="getDsInfo"  resultType="com.geominfo.mlsql.domain.vo.MlsqlDs">
        SELECT
        id,
        `name`,
        format,
        params,
        mlsql_user_id AS mlsqlUserId
        FROM
        mlsql_ds
        WHERE
        `name`=#{asName}
    </select>

    <update id="updateDs">
        UPDATE mlsql_ds
        set format = #{format}, params = #{params}
        WHERE `name` = #{name}
    </update>

</mapper>
