<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geominfo.mlsql.mapper.ScriptExeLogMapper">

    <delete id="delByGroupID" parameterType="java.lang.String">
       DELETE  FROM t_script_exec_metric_log WHERE job_id=#{jobId}
    </delete>

    <select id="findByGroupID" parameterType="java.lang.String"
            resultType="java.lang.String">
         SELECT
         explain_msg
         FROM
         t_script_exec_metric_log
         WHERE job_id=#{jobId}

    </select>

    <insert id="batchInsert" parameterType="java.util.List" >
        INSERT INTO t_script_exec_metric_log(
        job_id,
        spark_ui_job_cnt,
        spark_ui_stage_cnt,
        spark_ui_task_cnt,
        explain_msg,
        extra_opts,
        create_time
        )
        VALUES   <foreach collection="list" item="item" index="index"
                          separator=",">  (
        #{item.jobId,jdbcType=NUMERIC}
         ,#{item.sparkUiJobCnt,jdbcType=NUMERIC}
        ,#{item.sparkUiStageCnt,jdbcType=NUMERIC}
        ,#{item.sparkUiTaskCnt,jdbcType=NUMERIC}
        ,#{item.explainMsg,jdbcType=NUMERIC}
        ,#{item.extraOpts,jdbcType=NUMERIC}
        ,#{item.createTime,jdbcType=NUMERIC}
        )
    </foreach>
    </insert>


    <insert id="addLog" parameterType="com.geominfo.mlsql.domain.vo.ScriptExeLog">
        INSERT INTO t_script_exec_metric_log(
        job_id,
        spark_ui_job_cnt,
        spark_ui_stage_cnt,
        spark_ui_task_cnt,
        explain_msg,
        extra_opts,
        create_time
        )
        VALUES (
        #{jobId,jdbcType=NUMERIC}
         ,#{sparkUiJobCnt,jdbcType=NUMERIC}
        ,#{sparkUiStageCnt,jdbcType=NUMERIC}
        ,#{sparkUiTaskCnt,jdbcType=NUMERIC}
        ,#{explainMsg,jdbcType=NUMERIC}
        ,#{extraOpts,jdbcType=NUMERIC}
        ,#{createTime,jdbcType=NUMERIC}
        )
    </insert>
</mapper>