<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geominfo.mlsql.mapper.ScriptFileMapper">
    <resultMap id="getScriptByIdDetailMap" type="com.geominfo.mlsql.domain.vo.MlsqlScriptFile">
        <id property="id" column="id" />
        <result property="hasCaret" column="hasCaret" />
        <result property="isExpanded" column="isExpanded" />
        <result property="icon" column="icon" />
        <result property="label" column="label" />
        <result property="parentId" column="parentId" />
        <result property="isDir" column="isDir" />
        <result property="content" column="content" />
        <collection property="scriptUserRws" column="id" ofType="com.geominfo.mlsql.domain.vo.ScriptUserRw" select="getScriptUserRW">
            <id property="id" column="id" />
            <result property="userId" column="userId" />
            <result property="fileId" column="fileId" />
        </collection>
    </resultMap>
    <select id="getScriptById" parameterType="java.lang.Integer" resultMap="getScriptByIdDetailMap">
        SELECT id,name,has_caret AS hasCaret,is_expanded AS isExpanded,icon,label,parent_id AS parentId,is_dir AS isDir,content
        FROM script_file
        WHERE id=#{id}
    </select>
    <update id="updateScriptFile" parameterType="com.geominfo.mlsql.domain.vo.MlsqlScriptFile">
        UPDATE script_file
        SET content=#{content},is_expanded=#{isExpanded}
        WHERE id=#{id}
    </update>
    <insert id="insertScriptFile" parameterType="com.geominfo.mlsql.domain.vo.MlsqlScriptFile" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO script_file(name,has_caret,is_expanded,icon,label,parent_id,is_dir,content)
        VALUES (
            #{name},#{hasCaret},#{isExpanded},#{icon},#{label},#{parentId},#{isDir},#{content}
        )
    </insert>
    <insert id="insertScriptUserRW" parameterType="com.geominfo.mlsql.domain.vo.ScriptUserRw">
        INSERT INTO script_user_rw(script_file_id,mlsql_user_id,is_owner,readable,writable,is_delete)
        VALUES(
            #{fileId},#{userId},#{isOwner},#{readable},#{writable},#{isDelete}
        )
    </insert>
    <resultMap id="getScriptUserRWMap" type="com.geominfo.mlsql.domain.vo.ScriptUserRw">
        <id property="id" column="id" />
        <result property="fileId" column="fileId" />
        <result property="userId" column="userId" />
        <result property="isOwner" column="isOwner" />
        <result property="readable" column="readable" />
        <result property="writable" column="writable" />
        <result property="isDelete" column="isDelete" />
        <association property="mlsqlUser" column="userId" javaType="com.geominfo.mlsql.domain.vo.MlsqlUser"
                     select="com.geominfo.mlsql.mapper.UserMapper.getUserById"></association>
    </resultMap>
    <select id="getScriptUserRW" parameterType="java.lang.Integer" resultMap="getScriptUserRWMap">
        SELECT id
            ,script_file_id AS fileId
            ,mlsql_user_id AS userId
            ,is_owner AS isOwner
            ,readable
            ,writable
            ,is_delete AS isDelete
        FROM script_user_rw
        WHERE script_file_id=#{fileId}
    </select>
    <update id="updateScriptUserRW" parameterType="com.geominfo.mlsql.domain.vo.ScriptUserRw">
        UPDATE script_user_rw
        SET is_delete=#{isDelete}
        WHERE script_file_id=#{fileId} AND mlsql_user_id=#{userId}
    </update>
    <select id="getScriptFileListByParentId" parameterType="java.lang.Integer" resultType="com.geominfo.mlsql.domain.vo.MlsqlScriptFile">
        SELECT id,name,has_caret AS hasCaret,is_expanded AS isExpanded,icon,label,parent_id AS parentId,is_dir AS isDir,content
        FROM script_file
        WHERE parent_id = #{parentId}
    </select>
    <select id="getScriptFileListByPathAndUser" parameterType="map" resultType="com.geominfo.mlsql.domain.vo.MlsqlScriptFile">
        SELECT
            files.id
            ,files.parent_id AS  parentId
            ,files.name
            ,files.is_dir AS isDir
            ,files.content
            ,files.icon
            ,files.label
            ,files.is_expanded AS isExpanded
        FROM script_file files
            JOIN script_user_rw fileUsers on files.id=fileUsers.script_file_id
        WHERE fileUsers.mlsql_user_id=#{userId}
              AND is_delete=2
        <if test="path != null">
            AND files.name=#{path}
        </if>
        <if test="parentId != null">
              AND  parent_id =#{parentId}
        </if>
    </select>
</mapper>