<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geominfo.mlsql.mapper.ScriptExeLogMapper">

    <update id="updateLog" parameterType="com.geominfo.mlsql.domain.vo.ScriptExeLog">
        UPDATE script_exe_log
        SET `logicalExecutionPlan` = #{logicalExecutionPlan},
        `physicalExecutionPlan` = #{physicalExecutionPlan}
        WHERE `groupId` = #{groupId}
    </update>

    <insert id="addLog" parameterType="com.geominfo.mlsql.domain.vo.ScriptExeLog">
        INSERT INTO t_script_exec_metric_log(
        job_id,
        spark_ui_job_cnt,
        spark_ui_stage_cnt,
        spark_ui_task_cnt,
        explain_msg,
        extra_opts,
        create_time)
        VALUES (
        #{jobId}
         ,#{sparkUiJobCnt}
        ,#{sparkUiStageCnt}
        ,#{sparkUiTaskCnt}
        ,#{explainMsg}
        ,#{extraOpts}
        ,#{createTime}
        )
    </insert>
</mapper>