<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geominfo.mlsql.mapper.ScriptFileMapper">

    <select id="getScriptById" parameterType="java.lang.Integer" resultType="com.geominfo.mlsql.domain.vo.MlsqlScriptFile">
        SELECT * FROM script_file WHERE ID=#{id}
    </select>
</mapper>