<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geominfo.mlsql.mapper.UserMapper">
    <select id="getAllUsers"  parameterType="map" resultType="com.geominfo.mlsql.domain.vo.MlsqlUser">
        SELECT id,name,password,backend_tags AS backendTags,role,status
        FROM mlsql_user
        <if test="userNames != null">
            WHERE name IN
            <foreach item="userNames" collection="userNames" open="(" separator="," close=")">
                (#{userNames})
            </foreach>
        </if>
    </select>
    <select id="getUserByName" parameterType="java.lang.String" resultType="com.geominfo.mlsql.domain.vo.MlsqlUser">
       SELECT id,name,password,backend_tags AS backendTags,role,status
       FROM mlsql_user
       WHERE name=#{name}
    </select>
    <select id="getUserByIdList" parameterType="map" resultType="map">
        SELECT id,name
        FROM mlsql_user
        <if test="id != null">
            WHERE  id IN
            <foreach item="id" collection="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>
    <select id="getUserById" parameterType="map" resultType="com.geominfo.mlsql.domain.vo.MlsqlUser">
        SELECT id,name
        FROM mlsql_user
        WHERE id=#{id}
    </select>
    <update id="changePassword" parameterType="map">
        UPDATE mlsql_user
        SET password=#{newPassword}
        WHERE name=#{userName}
    </update>
    <insert id="register" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO mlsql_user (name,password,backend_tags,role,status)
        VALUES(
        #{name,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},
        #{backendTags,jdbcType=VARCHAR},
        #{role,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR})
    </insert>
    <update id="updateUser">
        UPDATE mlsql_user
        SET backend_tags=#{backendTags}
        WHERE name=#{name}
    </update>


</mapper>